In [2]:
import numpy as np
import pandas as pd

In [3]:
colnames=['EPIC', 'Coord', 'OName', 'Gaia', 'Vmag', 'Ksmag', '(V-Ks)o',
          '(V-Ks)u', 'E(V-Ks)', 'Ksmag0', '(V-Ks)0', 'Uncert', 'P1',
          'P2', 'P3', 'P4', 'Member', 'IRexcess', 'IRexStr', 'Slope', 'Class',
          'dip', 'burst', 'sin/mult', 'dd', 'ddmove', 'shape', 'beat', 'complex',
          'closep', 'distp', 'pulse']

In [4]:
#df = pd.read_csv('rebull2020table2.txt', sep=r"\s+",header=None,names=colnames, skiprows=70)

In [5]:
colspecs = [
    (0, 9),    # EPIC
    (10, 28),  # Coord
    (29, 52),  # OName
    (53, 72),  # Gaia
    (73, 78),  # Vmag
    (79, 84),  # Ksmag
    (85, 90),  # (V-Ks)o
    (91, 96),  # (V-Ks)u
    (97, 102), # E(V-Ks)
    (103, 108),# Ksmag0
    (109, 114),# (V-Ks)0
    (115, 119),# Uncert
    (120, 127),# P1
    (128, 135),# P2
    (136, 143),# P3
    (144, 150),# P4
    (151, 162),# Member
    (163, 168),# IRexcess
    (169, 173),# IRexStr
    (174, 179),# Slope
    (180, 184),# Class
    (185, 188),# dip
    (189, 192),# burst
    (193, 199),# sin/mult
    (200, 203),# dd
    (204, 207),# ddmove
    (208, 211),# shape
    (212, 215),# beat
    (216, 219),# complex
    (220, 223),# closep
    (224, 227),# distp
    (228, 231) # pulse
]

In [6]:
df = pd.read_fwf("rebull2020table2.txt", colspecs=colspecs, names=colnames, skiprows=74)

In [7]:
df

,EPIC,Coord,OName,Gaia,Vmag,Ksmag,(V-Ks)o,(V-Ks)u,E(V-Ks),Ksmag0,...,burst,sin/mult,dd,ddmove,shape,beat,complex,closep,distp,pulse
0,210621891,040322.36+171627.0,HD285373,4.643166e+16,9.75,8.32,1.44,1.44,0.10,8.30,...,NaN,single,no,no,yes,yes,no,no,no,no
1,210631263,040324.94+172425.8,HD285372,4.662266e+16,11.60,8.80,2.80,2.80,0.05,8.79,...,NaN,single,yes,no,yes,no,no,no,no,no
2,210830948,040348.38+202024.0,NaN,5.209167e+16,NaN,10.71,NaN,5.06,0.00,10.71,...,NaN,single,no,no,no,no,no,no,no,no
3,210934391,040428.47+215604.4,2MASSJ04042848+2156046,5.309223e+16,9.47,8.16,1.31,1.31,0.87,8.05,...,NaN,multi,no,no,yes,yes,no,yes,no,no
4,210934910,040432.15+215635.0,NaN,5.309233e+16,NaN,9.74,NaN,4.29,1.03,9.61,...,NaN,single,yes,yes,yes,no,no,no,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,246966664,050030.05+172359.1,2MASSJ05003003+1723591,3.405562e+18,11.85,9.31,2.54,2.54,0.77,9.21,...,NaN,single,yes,yes,yes,no,no,no,no,no
213,247890584,050101.17+250141.3,NaN,3.419632e+18,NaN,9.84,NaN,4.53,0.00,9.84,...,NaN,single,no,no,yes,no,no,no,no,no
214,247885481,050239.85+245933.8,2MASSJ05023985+2459337,3.419945e+18,NaN,10.78,NaN,5.56,0.12,10.76,...,NaN,single,no,no,yes,no,no,no,no,no
215,247715356,050317.28+234917.4,HD32318,3.418687e+18,8.54,7.69,0.85,0.85,0.66,7.60,...,yes,multi,no,no,no,no,no,no,yes,no
216,247289708,052101.29+202733.1,NaN,3.401886e+18,NaN,10.51,NaN,3.84,0.00,10.50,...,NaN,single,no,no,no,no,no,no,no,no

In [8]:
complexes=df[df.complex=='yes']

In [9]:
complexes[['EPIC', 'P1']]

          EPIC      P1
11   210818897     NaN
22   210783336     NaN
53   247454835  2.7733
57   210690598  3.5045
88   247791556  1.0261
100  247031423  3.0978
135  247591948  1.1976
136  247592103  1.1978

In [10]:
colnames=['EPIC', 'Coord', 'OName', 'Gaia', 'Vmag', 'Ksmag', '(V-Ks)o',
          '(V-Ks)u', 'E(V-Ks)', 'Ksmag0', '(V-Ks)0', 'Uncert', 'P1',
          'P2', 'P3', 'P4', 'IRexcess', 'IRexStr', 'Slope', 'Class',
          'sin/mult', 'dd', 'ddmove', 'shape', 'beat', 'complex',
          'closep', 'distp', 'pulse']

In [11]:
colspecs = [
    (0, 9),     # 1-9   EPIC
    (10, 28),   # 11-28 Coord
    (29, 54),   # 30-54 OName
    (55, 74),   # 56-74 Gaia
    (75, 80),   # 76-80 Vmag
    (81, 86),   # 82-86 Ksmag
    (87, 92),   # 88-92 (V-Ks)o
    (93, 98),   # 94-98 (V-Ks)u
    (99, 104),  # 100-104 E(V-Ks)
    (105, 110), # 106-110 Ksmag0
    (111, 116), # 112-116 (V-Ks)0
    (117, 121), # 118-121 Uncert
    (122, 129), # 123-129 P1
    (130, 136), # 131-136 P2
    (137, 143), # 138-143 P3
    (144, 150), # 145-150 P4
    (151, 156), # 152-156 IRexcess
    (157, 160), # 158-160 IRexStr
    (161, 166), # 162-166 Slope
    (167, 171), # 168-171 Class
    (172, 178), # 173-178 sin/mult
    (179, 182), # 180-182 dd
    (183, 186), # 184-186 ddmove
    (187, 190), # 188-190 shape
    (191, 194), # 192-194 beat
    (195, 198), # 196-198 complex
    (199, 202), # 200-202 closep
    (203, 206), # 204-206 distp
    (207, 210), # 208-210 pulse
]

In [12]:
df = pd.read_fwf("rebull2020tablea1.txt", colspecs=colspecs, names=colnames, skiprows=74)

In [13]:
complexes=df[df.complex=='yes']

In [14]:
complexes[['EPIC', 'P1']]

          EPIC       P1
165  210554781  11.4675
268  247888948   1.4853
283  246932950   2.6815
437  247857331   7.4762
445  246650193   2.9245